/* Add a black background color to the top navigation */
.topnav {
  background-color: #eeeeee;
  width: 100%;
}
/* Style the links inside the navigation bar */
.topnav a {
  color: #000000;
  text-align: center;
  margin-right: 25px;
  text-decoration: none;
  font-size: 17px;
  /* Add a color to the active/current link */
  .topnav a.active {
    color: #008cba;
  }
}

#main-title {
  text-align: center;
  color: white;
  background-color: darkblue;
  padding: 20px;
}

.custom-link {
  display: block;
  padding: 10px;
  text-align: center;
  background-color: lightgray;
  text-decoration: none;
}

.custom-link:hover {
  background-color: blue;
  color: white;
}

.custom-link:visited {
  color: purple;
}

.custom-link:active {
  background-color: red;
}